// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'reset';


.wrapper {
      margin: 0;
      max-width: 100%;
}

.banner {
    padding: 0;
    display: flex;
    justify-content: center;
    background: #428f8b center fixed;
    background-size: cover;
    margin: 0;
    text-decoration: none;
}

.banner__arrow {
      display: flex;
      font-size: 3rem;
      align-items: center;
}

.banner__center {
    margin: 5rem;
    padding: 1rem;
}

.banner__pic {
  color: white;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border: none;

}

.profile {
  line-height: 2rem;
  margin: .5rem;

 &__name {
  border-bottom: .1rem #6c6c6b solid;
  padding: 1rem;
}

&__email {
  border-bottom: .1rem #6c6c6b solid;
  padding: 1rem;
}

&__phone {
  border-bottom: .1rem #6c6c6b solid;
  padding: 1rem;
}

&__local {
  border-bottom: .1rem #6c6c6b solid;
  padding: 1rem;
}
}

.icon {
    font-size: 2rem;
    margin: 0 1rem;
}
